<footer class="page-footer deep-orange accent-4">
  <div class="container">
    <div class="row ">
      <div class="col l4 m4 s12">
        <h5 class="white-text">Sobre NgCinemax</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Nosotros</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Salas y Restaurantes</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Terminos y condiciones</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Trabaja con nosotros</a></li>
        </ul>
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text">Links de interés</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">En cartelera</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Proximamente</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Promociones</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Escribenos</a></li>
        </ul>
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text">Proveedores</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Linea directa</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Encuesta</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Publicidad</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Eventos</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      © 2019 Tbars84 - Based on a UDEMY course created by Jhonatan Plata
    </div>
  </div>
</footer>
