nav .brand-logo{
  padding: 0.5rem 0 0 0.5rem;
}
.dropdown-content li a, .dropdown-content li , .nav-wrapper {
  background: #ff3d00;
  color: #FFFFFF;
}
.dropdown-content li:hover,
.dropdown-content li a:hover{
  background: #dd2c00;
}
