<div class="row white">
  <div class="col s12">
    <!-- TITULO  SECCION -->
    <div class="row">
      <h4 class="center-align">Cartelera Semanal</h4>
    </div>
    <!-- CARDS  SECCION -->
    <div class="row ">
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./assets/posters/BatmanVSSuperman.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Batman vs Superman<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
            <p class="icons-billboards">
              <a href="http://" target="_blank" ><i class="fas fa-heart"></i></a>
              <a href="http://" target="_blank" ><i class="fab fa-youtube"></i></a>
              <a href="http://" target="_blank" ><i class="fas fa-bookmark"></i></a>
              <a href="http://" target="_blank" ><i class="fas fa-globe"></i></a>
              <a href="http://" target="_blank" ><i class="fas fa-share-alt"></i></a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Batman vs Superman<i class="material-icons right">close</i></span>
            <p><b>Sinopsis</b> Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
