// ESTILOS GLOBALES
$customMed : 993px;

@mixin customMed {
  @media (min-width: #{$customMed}) {
    @content;
  }
}

.container-fluid{
  max-width: unset;
  margin: 0 auto;
  @include customMed{
    max-width: 85%;
  }
}
.row{
  margin: 0;
}
nav.social{
  max-height: 40px;
  *{
    max-height: 40px !important;
    line-height: 37px!important;
  }
}

